extends layout

block layout-content
  div.View.ErrorView
    h1.Banner SOMETHING WENT WRONG
    if error
      body
        h2.BannerMid #{error}
    div.NavButtons
      a(href="/")
        div.NavButton Home

