extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner 
    body
        div.Input
            div.Title
            h3 Who are you?
            h1 Show us what you got
            |&nbsp;
            h3 GitHub Handle:
            form(action="/user", method="POST")
                div.input
                    input(type="text", name="username")
                |&nbsp;
                div
                    input(type="submit", value="GO").Submit
        div
        div
        div
        div
