extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PHONOMENAL
    div.Message
      div.Title
        h3 Making the Best
        h1 Samples For Devs
      span.Details Access the PHONOMENAL Team Portal
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!