extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PHONOMENAL
    div.Message
      div.Title
        h3 Making the Best
        h1 Samples For Devs
      span.Details Access the PHONOMENAL Team Portal

    //- div.FormInput
    //-     input.search(
    //-         type='text'
    //-         name='search'
    //-         placeholder='Enter a search term...'
    //-     )
    body
        h1= "Who are you?"
        form(action="/user", method="POST")
            div.input
                span.label Username
                input(type="text", name="username")
            div.actions
                input(type="submit")
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!
