/* public/style.css */

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 30px;

  font-family: "Share Tech Mono", monospace;
  font-size: 60px;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.BannerMid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 30px;

  font-family: "Share Tech Mono", monospace;
  font-size: 40px;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: #fa4141;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.WelcomeView {
    background: url("blank-canvas.jpg") left bottom;
    background-size: cover;
  }

.UserView {
    background: url("tabby-cat.jpg") left bottom;
    background-size: cover;
  }

.ErrorView {
    background: url("ice-cream-fail.jpg") left bottom;
    background-size: cover;
}

.Submit{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 45px;
    width: 100px;
  
    background: #fa4141;
  
    border-radius: 22px;
  
    font-size: 16px;
    font-weight: bold;
    color: white;
  
    text-transform: capitalize;
  
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

.Input {
    background: white;
    padding: 30px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    align-self: center ;
    vertical-align: middle;
    margin-bottom: 300;
  }
  
  .Input > .Title {
    padding-bottom: 20px;
  }
  
  .Input > .Details {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
  }

   /* Input styles */

  input[type="text"] {
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;
    padding: 0 1.6rem;
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    height: var(--height);
    font-size: 1.8rem;
  }
  
  .AvatarImage {
    background: white;
    padding: 15px;
    border-radius: 20px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    align-self: center ;
    vertical-align: middle;
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
  }

  table {
    background: #221c02;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #233e46;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }